@CHARSET "UTF-8";
body {
  background-color: grey;
  background-image: url('https://static1.squarespace.com/static/55d50b25e4b05fdd76a7ed1b/55da4052e4b081e9ffdac01f/55da405ee4b06261f859eb4a/1440366694447/DSC_5629.jpg?format=1000w')
  background-position: center;
}