@CHARSET "UTF-8";
body {
  background-color: white;
  background-image: url('https://static1.squarespace.com/static/55d50b25e4b05fdd76a7ed1b/55db4169e4b0f408c8dfe08c/55db4205e4b06d457a3d13bf/1440439041794/DSC_5496.jpg?format=1000w')
  background-position: center;
}
