@CHARSET "UTF-8";
body {
  background: #f1f1f1;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  
}

h1 {
    text-align: center;
}

p {
  	text-align:center;
}

.wrapper {
  padding: 100px;
  width: 500px;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.social a {
  width: 33%;
  color: #a9a9a9;
}

.social a:hover {
  color: #276cd6;
}

.social {
  max-width: 240px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  font-size: 1.4em;
}
.roles {
    font-size: 30px;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;
}

.roles div {
    height: 50px;
    transition: margin-top 1s ease-in-out;
}


