@CHARSET "UTF-8";

body {
  background: #e9e9e9;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Lato', sans serif;
  -webkit-font-smoothing: antialiased;
}

.header {
  width: 100%;
  height: 34vh;
  background: url("https://static1.squarespace.com/static/55d50b25e4b05fdd76a7ed1b/55e21b6be4b0f423200b6451/55e21b8fe4b0f423200b64cc/1440881564498/DSC_1982.jpg?format=1000w") center center no-repeat;
  background-size: cover;
  text-align: center;
}

.profile-pic {
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 100px;
  background: url("https://pbs.twimg.com/profile_images/631547700899479552/bEQlYyjr.jpg") center center no-repeat;
  background-color: #276cd6;
  background-size: auto 100%;
}

.info h1 {
  font-weight: 300;
}

.info p {
  line-height: 1;
  font-size: .8em;
}

.info {
  text-align: center;
  padding-bottom: 20px;
  margin-top: -70px;
}

.social a {
  width: 33%;
  color: #a9a9a9;
}

.social a:hover {
  color: #276cd6;
}

.social {
  max-width: 240px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  font-size: 2em;
}

.content {
  padding: 0px 10px 10px 10px;
}

@media (min-width: 736px) {
.content {
  width: 75%;
  margin: auto;
  display: -webkit-flex; 
  -webkit-flex-wrap: wrap;
  display: flex; 
  }
}

.column {
  max-width: 480px;
  display: block;
  margin: 0px auto auto auto;
}

.card {
  max-width: 480px;
  margin: 40px auto auto auto;
  border-radius: 10px;
  background: white;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px #c9c9c9;
  transition: .1s ease-out;
  -webkit-transition: .1s ease-out;
  -moz-transition: .1s ease-out;
}

.card-title {
  line-height: 0;
  margin-top: -44px;
  margin-left: -20px;
  font-size: 3em;
  font-style: italic;
  color: gray;
  padding-bottom: 20px;
}

.job {
  padding-top: 10px;
}

.main-text {
 line-height: 1.6em;
}

.icon-row {
  display: -webkit-flex; 
  display: flex; 
  flex-direction: row;
  max-width: 480px;
  padding-top: 20px;
}

.skill-icon {
  box-sizing: border-box;
  text-align: center;
  width: 480px;
}

.fa.fa.graduation-cap { 
  color: #236B8E;
}

.fa.fa-truck { 
  color: #F69679;
}

.fa.fa-bar-chart {
  color: #D74046;
}

.fa.fa-fa-coffee {
  color: #5C3317;
}

.fa.fa.fa-book {
  color: #567E3A;
}

.fa.fa.fa-motorcycle {
  color: #68228B;
}

.fa.fa.fa-camera-retro {
  color: #EEC900;
}

.skill-icon i {
  font-size: 3.4em;
}

.skill-icon p {
  font-size: .8em;
}
.company {
  color: #9d1830;
  font-size: 1.4em;
}

.date {
  line-height: 0;
  padding-bottom: 4px;
  font-size: .8em;
  color: #a9a9a9;
}

/* Scrollbar size */

::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: #444;
    border-radius: 10px;
}